<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login </title>
    </head>
    <body>
        <h1> Login </h1>
        <form method="POST" action="/procesa/login">
            <div>
                <label for="correo"> 
                    Email:
                </label>
                <input type="text" id="correo" name="correo">
            </div>
            <div>
                <label for="password"> 
                    Password:
                </label>
                <input type="password" id="password" name="password">
            </div>
            <button> Login </button>
        </form>
    </body>
</html>