<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Mi primera vista/plantilla </title>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/styles.css')}}">
    </head>
    <body>
        <h1> Bienvenidos {{clase}} </h1>
        <h2> Estas conectado como {{nombre}} </h2>
        <h2>{{usuarios}}</h2>
        <ul>
            {% for nombre in usuarios: %}
                <li> {{nombre}} </li>
            {% endfor %}
        </ul>
    </body>
</html>